      <ins class="kakao_ad_area" style="display:none;"
data-ad-unit = "DAN-OSVwBDtRzyi3cQro"
data-ad-width = "250"
data-ad-height = "250"></ins>
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
      <header id="header">
        <h1><a href="index.html"><strong>{{ site.title | escape }}</strong></a></h1>
        <nav>
          <ul>
            <li><a href="#footer" class="icon solid fa-info-circle" id="about">About</a></li>
          </ul>
        </nav>
      </header>
